# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (optional if you want to exclude large trained models)
*.h5
*.hdf5
